# Object and binary files
*.o
*.elf
*.bin
*.hex

# Intermediate and listing files
*.i
*.d
*.lst
*.map

# Build directories
build/

# Emacs backups
*~
.#*
\#*\#

# Artifacts of Analysis (Module 3)
Module3/symbols.txt


