# Object and binary files
*.o
*.elf
*.bin
*.hex
*.out

# Intermediate and listing files
*.i
*.d
*.lst
*.map
*.asm

# Build directories
build/

# Emacs backups and temp files 1
*~
.#*
\#*\#

# Backup and temp files 2
*.bak
*.tmp
*.swp

# Artifacts of Analysis (Module 3)
Module3/symbols.txt

